<section class="home container mx-auto" id="home">
  <div class="home__content grid">
    <div class="home__group">
      <img src="/img/hero.png" alt="" class="home__img" />
      <div class="home__indicator"></div>

      <div class="home__details-img">
        <h4 class="home__details-title">Mie Aceh</h4>
        <span class="home__details-subtitle">H. Abdullah</span>
      </div>
    </div>

    <div class="home__data">
      <h1 class="home__title">Apakah kamu lapar ?</h1>
      <p class="home__description">
        Jangan keburu ngiler liatin makanannya ya, hehe.<br />
        Yuk, cobain aja daripada penasaran
      </p>

      <div class="home__buttons">
        <a href="#" class="button">Ayo Order</a>
      </div>
    </div>
  </div>
</section>
<section class="section discount" id="alamat">
  <div class="discount__container container grid">
    <div class="discount__data">
      <h2 class="discount__title">Mie Aceh H. Abdullah berada di</h2>
      <p>
        Jln.Eka Suka No.1A Johor Medan<br />
        +62-815-3523-3797
      </p>
    </div>

    <img src="/img/discount-img.png" alt="" class="discount__img" />
  </div>
</section>
<section class="section category" id="best">
  <h2 class="section__title">Best Seller</h2>

  <div class="category__container container grid">
    <div class="category__data">
      <img src="/img/mie5.png" alt="" class="category__img" />
      <h3 class="category__title">Mie Goreng</h3>
    </div>

    <div class="category__data">
      <img src="/img/mie7.png" alt="" class="category__img" />
      <h3 class="category__title">Mie Yamin Pasta</h3>
    </div>

    <div class="category__data">
      <img src="/img/mie2.png" alt="" class="category__img" />
      <h3 class="category__title">Mie Ayam</h3>
    </div>
  </div>
</section>
<section class="menu section trick" id="menu">
  <h2 class="section__title">Semua Menu</h2>

  <div class="trick__container container grid">
    <% mies.forEach(function(mie){ %>
    <div class="trick__content">
      <img src="/img/<%= mie.image%>" alt="" class="trick__img" />
      <h3 class="trick__title"><%= mie.name%></h3>
      <span class="trick__subtitle"><%= mie.flavor%></span>
      <span class="trick__price">Rp. <%= mie.price%></span>
      <button data-mie="<%= JSON.stringify(mie)%>" class="add-to-cart button trick__button">
        <span><i class="bx bx-cart-alt trick__icon"></i></span>
      </button>
    </div>
    <% }) %>
  </div>
</section>
