<section class="orders light-section mt-24">
  <div class="container mx-auto">
    <h1 class="text-lg mb-4">Semua Pesanan</h1>
    <% if(messages.success) { %>
    <div id="success-alert" class="flex items-center bg-green-500 text-white text-sm font-semibold px-4 py-3" role="alert">
      <svg
        class="fill-current w-4 h-4 mr-2"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        version="1.1"
        id="Layer_1"
        x="0px"
        y="0px"
        viewBox="0 0 512 512"
        style="enable-background: new 0 0 512 512"
        xml:space="preserve"
      >
        <g>
          <path
            d="M322.4,173.9l-129,16.2l-4.6,21.4l25.3,4.7c16.5,3.9,19.8,9.9,16.2,26.4l-41.5,195.3c-10.9,50.5,5.9,74.3,45.5,74.3   c30.7,0,66.3-14.2,82.5-33.6l4.9-23.4c-11.3,9.9-27.7,13.9-38.6,13.9c-15.5,0-21.1-10.9-17.1-30L322.4,173.9z"
          />
          <circle cx="270.1" cy="56.3" r="56.3" />
        </g>
      </svg>
      <p><%= messages.success%></p>
    </div>
    <% } %>
    <table class="w-full table-auto bg-transparent text-white">
      <thead>
        <tr>
          <th class="px-4 py-2 text-left font-medium">Pesanan</th>
          <th class="px-4 py-2 text-left font-medium">No telepon</th>
          <th class="px-4 py-2 text-left font-medium">Alamat</th>
          <th class="px-4 py-2 text-left font-medium">Waktu</th>
        </tr>
      </thead>
      <tbody>
        <% if(orders.length) { %> <% orders.forEach((order)=> { %>
        <tr>
          <td class="border border-white px-4 py-2">
            <a class="link" href="/customer/orders/<%= order._id%>"><%= order._id %></a>
          </td>
          <td class="border border-white px-4 py-2"><%= order.phone %></td>
          <td class="border border-white px-4 py-2"><%= order.address %></td>
          <td class="border border-white px-4 py-2"><%= moment(order.createdAt).format('hh:mm A') %></td>
        </tr>
        <% }) %> <% } else { %>
        <tr>
          <td class="p-4"><span>Tidak ditemukan pesanan!</span></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</section>
